body, html{
  height:100%;
}
body{
  background-image:url('https://media.giphy.com/media/Bg6z4LAg7n8nm/giphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: rgb(233, 167, 87);
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:52px;
  background-color:rgb(92, 113, 111);
  font-size: 25px
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid  rgb(116, 78, 44);
  border-radius:10px;
  position:absolute;
}

.shrinky-dancer{
  border:10px solid rgb(82, 27, 11);
  border-radius:100px;
  position:absolute;
  width:100px;
  height:100px;
}
.camel-dancer{
  background-image:url('https://banner2.kisspng.com/20180211/ykq/kisspng-china-camel-logo-camel-vector-5a807efa84b0c4.6744488415183705545435.jpg');  position:absolute;
  width:100px;
  height:100px;
  background-size: 100px 100px;

}